@import "~office-ui-fabric-react/dist/sass/References.scss";

* {
  font-size: 16px;

  @media only screen and (max-width: 700px) {
    font-size: 14px;
  }
  @media only screen and (max-width: 700px) {
    font-size: 12px;
  }
}

@mixin titleColumn {
  display: flex;
  flex: 2;
  padding: 5px;
  width: 10%;
  flex-flow: column nowrap;
  border-bottom: 1px solid black;
  @media only screen and (max-width: 700px) {
    padding: 1px;
    margin: 0px;
  }
}

@mixin descColumn {
  display: flex;
  flex: 6;
  flex-flow: column nowrap;
  width: 60%;
  padding: 5px;
  border-bottom: 1px solid black;
  @media only screen and (max-width: 700px) {
    padding: 1px;
    margin: 0px;
  }
}

@mixin prioColumn{
  display: flex;
  flex: 2;
  width: 10%;
  flex-flow: column nowrap;
  padding: 5px;
  border-bottom: 1px solid black;
  @media only screen and (max-width: 700px) {
    padding: 1px;
    margin: 0px;
  }
}

@mixin dueColumn{
  display: flex;
  flex-flow: column nowrap;
  flex: 2;
  padding: 5px;
  width: 10%;
  border-bottom: 1px solid black;
  @media only screen and (max-width: 700px) {
    padding: 1px;
    margin: 0px;
  }
}

@mixin actionColumn {
  display: flex;
  flex-flow: column nowrap;
  flex: 2;
  padding: 5px;
  width: 10%;
  border-bottom: 1px solid black;
  @media only screen and (max-width: 700px) {
    padding: 1px;
    margin: 0px;
  }
}

@mixin columnHeader{
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}

.pageHeader {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.flexContainer:nth-child(even){
  background-color: $ms-color-white;
}
.flexContainer:nth-child(odd){
  background-color: $ms-color-neutralLighter;
}

.addButton{
  float: right;
  margin-bottom: 10px;
  min-width: 2em!important;
}


.titleHeader {
  @include titleColumn();
  @include columnHeader();
}

.title {
  @include titleColumn();
}

.descriptionHeader{
  @include descColumn();
  @include columnHeader();
}

.description {
  @include descColumn();
}

.priorityHeader{
  @include prioColumn();
  @include columnHeader();
}

.priority {
  @include prioColumn();
  text-align: center;
}

.dueDateHeader{
  @include dueColumn();
  @include columnHeader();
}

.dueDate {
  @include dueColumn();
  text-align: center;
}

.buttonHeader{
  @include actionColumn();
  @include columnHeader();
}

.buttonContainer {
  @include actionColumn();
}


